<h2>AUJOURD'HUI</h2>
<section class="row">
    <h3>Informations</h3>
    <div id="town" class="box zoom">Ville</div>
    <div id="date" class="box zoom">Date</div>
    <div id="time" class="box zoom">Heure</div>
    <div id="saintDay" class="box zoom">Saint du jour</div>
    <div id="sunriseTime" class="box zoom">Heure de lever du soleil</div>
    <div id="sunsetTime" class="box zoom">Heure de coucher du soleil</div>
</section>

<section>
    <h3>La journée</h3>
    <div class="container zoom">
        <div>MATIN</div>
        <div id="morningWeatherday_0">Temps</div>
        <div id="morningTemperatureMinday_0">Température minimale</div>
    </div>
    <div class="container zoom">
        <div>APRÈS-MIDI</div>
        <div id="afternoonWeatherday_0">Temps</div>
        <div id="afternoonTemperatureMaxday_0">Température maximale</div>
    </div>
</section>