/* Stylisation du formulaire */
form {
    /* Display */
    display: grid;
    place-items: center stretch;
    gap: 1rem;

    /* Bordures */
    margin:0 4%;
    padding:40px;
    border-radius: 15px;

    /* Background */
    background-color: rgba(255,255,255,0.6); /* Fallback pour les navigateurs non pris en charge */;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Stylisation des champs du formulaire */
fieldset {
    /* Display */
    display: grid;
    gap: 1rem;

    /* Bordures */
    border: none;
    padding: 0;
    margin: 0;
}

/* Stylisation de la légende du formulaire  */
legend {
    /* Display */
    display: grid;
    text-align: center;
    place-items: center;

    /* Police */
    font-size: 2rem;
    font-weight: bold;

    /* Dimensions */
    width: 100%;
    height: auto;

    /* Bordures */
    padding:1rem 0;
    margin-bottom:1rem;
    border-radius: 15px;

    /* Background */
    background-color: rgba(255,255,255,0.8);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Stylisations des labels */
label {
    /* Display */
    display: block;
    font-weight: bold;
    text-align: center;
    align-self: start;

    /* Bordures */
    border-radius: 15px;
    padding: 0.5rem;

    /* Background */
    background-color: rgba(255,255,255,0.8); /* Fallback pour les navigateurs non pris en charge */;
    background-repeat: no-repeat;
    background-size: 100%;

    /* Largeur minimale */
    min-width: 150px;
}

/* Stylisation des input et du textarea */
input, textarea {
    /* Bordures */
    border:none;
    border-radius: 15px;
    padding: 0.5rem;

    /* Background */
    background-color: rgba(255,255,255,0.8); /* Fallback pour les navigateurs non pris en charge */;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Stylisation des div dans le fieldset */
fieldset>div {
    /* Display */
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    align-items: center;
}

/* Stylisation de la dernière div */
div:last-of-type {
    /* Display */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    /* Dimensions */
    width: 100%;

}

/* Stylisation de ma classe zoom */
.dezoom {
    /* Animation */
    transition: transform 0.3s ease;
}

/* Stylisation de l'évènement hover sur la classe zoom */
.dezoom:hover {
    /* Animation */
    transform : scale(0.95);
}


/* Pour les écrans de téléphone */
@media only screen and (max-width: 767px) {
    
    legend {
        /* Police */
        font-size: 15px;
    }

    /* Stylisation des div dans le fieldset */
    fieldset>div {
        /* Display */
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-items: center;
    }

    fieldset>div {
        /* Display */
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        align-items: center;

        /* Bordures */
        padding:0;
    }
}