<h1>MÉTÉO</h1>
<!-- Menu de navigation pour pouvoir switcher entre les pages -->
<nav>
  <!-- Création de liens pour une route depuis la balise ancre avec l'attribut routerLink (cette balise est utilisée avec l'attribut href pour les hyperliens) -->
  <a routerLink="/dashboard">MÉTÉO</a>
  <a routerLink="/form">CONTACT</a>
</nav>

<!-- On met la balise router-outlet afin que l'affichage de notre SPA puisse être modifié en fonction de la route empruntée -->
<router-outlet></router-outlet>

<footer>
  <p>&#169; BALZA Lucas</p>
</footer>