<h2>PRÉVISIONS</h2>
<section class="row">
    <h3>Prévisionnel à 4 jours</h3>
    <!-- Prévoir de remplacer ces 4 itérations par une boucle ngFor -->
    <div id="1" class="container zoom">
        <div class="nameday">JOUR+1</div>
        <div class="weather">Temps</div>
        <div class="temperature">Température moyenne</div>
    </div>
    <div id="2" class="container zoom">
        <div class="nameday">JOUR+2</div>
        <div class="weather">Temps</div>
        <div class="temperature">Température moyenne</div>
    </div>
    <div id="3" class="container zoom">
        <div class="nameday">JOUR+3</div>
        <div class="weather">Temps</div>
        <div class="temperature">Température moyenne</div>
    </div>
    <div id="4" class="container zoom">
        <div class="nameday">JOUR+4</div>
        <div class="weather">Temps</div>
        <div class="temperature">Température</div>
    </div>
</section>